@import './colors.css';

* {
  font-family: 'Raleway', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
}
